@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';

// Breakpoints.
@include breakpoints((
	xlarge:    (1281px,   1680px   ),
	large:     (961px,    1280px   ),
	medium:    (737px,    960px    ),
	small:     (481px,    736px    ),
	xsmall:    (361px,    480px    ),
	xxsmall:   (null,     360px    )
));

// Base.
@import 'base/reset';
@import 'base/page';
@import 'base/typography';

@import '~animate-scss/animate';

// Component.
@import 'components/form';
@import 'components/list';
@import 'components/actions';
@import 'components/button';

// Layout.
@import 'layout/main';
@import 'layout/footer';
@import 'layout/wrapper';

// Vendor.
@import './modules/_toastr.scss';