.hero {
  @apply fullscreen focal bg-grey-lighter font-sans;

  &__heading {
    @apply tracking-wide text-4xl;
  }

  &__vector {
    @apply w-128 mr-8 py-16 pr-16;
  }

  &__cta {
    @apply w-64;

    > div {
      @apply w-full;
    }
  }
}

.moneybags {
  @apply my-8;

  path {
    fill-opacity: 0;
    fill: #000;
    stroke: #000;
    opacity: 0;
  }
}
