.logo {
  @apply fixed w-16 z-10;

  left: 1rem; top: 1rem;
}

.hero {
  @apply focal bg-green font-sans flex-col pb-24 pt-0 justify-around;

  &__heading {
    @apply tracking-wide text-4xl mb-2;
  }

  &__left {
    @apply w-full pointer-events-none;
  }

  &__right {
    @apply w-full py-12 pointer-events-auto;

    .disclaimer {
      @apply mt-8 text-xs;
    }
  }
}

@screen md {
  .hero {
    @apply flex-row;

    &__left {
      .hero__layer {
        @apply w-3/5;
      }
    }

    &__right {
      .hero__layer {
        @apply w-1/5 float-right mr-24;
      }
    }

    &__left,
    &__right {
      @apply absolute;
    }
  }
}

.moneybags {
  @apply my-8;

  path {
    fill-opacity: 0;
    fill: #032f03;
    stroke: #062706;
    opacity: 0;
  }
}
