.logo {
  @apply fixed w-16 z-10;

  left: 1rem; top: 1rem;
}

.hero {
  @apply focal bg-green font-sans flex-col pb-24 pt-0 justify-around;

  &__heading {
    @apply tracking-wide text-4xl mb-2;
  }

  &__vector {
    @apply w-full;
  }

  &__right {
    @apply py-12;

    .disclaimer {
      @apply mt-8 text-xs;
    }
  }
}

@screen md {
  .hero {
    @apply flex-row;

    &__vector {
      @apply w-3/5;
    }

    &__right {
      @apply w-1/5;

      > div {
        @apply w-full;
      }
    }
  }
}

.moneybags {
  @apply my-8;

  path {
    fill-opacity: 0;
    fill: #032f03;
    stroke: #062706;
    opacity: 0;
  }
}
