/* purgecss start ignore */

.can_embed.petition {
  @apply block max-w-full;

  #action_welcome_message {
    @apply text-left mt-12;

    a {
      @apply text-black no-underline border-b-2 border-white;

      transition: all 0.4s;
    }

    a:hover {
      @apply text-white bg-black border-b-0;

      transition: all 0.4s;
    }
  }

  h2,
  h3,
  h4,
  .action_info_user,
  img,
  #d_sharing {
    @apply hidden;
  }

  li {
    @apply list-reset;
  }

  label {
    @apply hidden pb-2;
  }

  input {
    @apply block w-full py-2 px-2 mt-6 bg-transparent outline-none text-white;

    &::placeholder {
      @apply text-black opacity-50;
    }
  }

  .international_link-wrap,
  .country_drop_wrap {
    @apply hidden;
  }

  label[for="form-comments"] {
    @apply hidden;
  }

  #form-comments {
    @apply hidden;
  }

  input[name="commit"] {
    @apply brand-button;

    &:hover {
      @apply brand-button-hover;
    }
  }
}

/* purgecss end ignore */